[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "echo.find"]
	path = echo.find
	url = https://github.com/cran/echo.find
	shallow = true
	registered = true
